/* Remove margins and padding on page */
/* body {
    padding: 0;
    margin: 0;
} */

body ul a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Make Map whole page */
#map,
body,
html {
    height: 100%;
    
    
}

/* Format the legend */
.legend {
    line-height: 18px;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

/* Format the legend: i */
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* Info Title styling */
.info {
    line-height: 18px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    opacity: .75;
}

/* Addition: Navbar */
#logo {
    width: 100px;
    height: auto;
    display: block;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
    padding: 0px;
    border: #90A187ff solid;
    border-width: 8px;
}

/* Navbar */
.navbar {
    padding: 0px;
    background: whitesmoke;
    width: 100%;

}

/* Navbar: specifically the website title */
.navbar-light .navbar-brand {
    font-size: 25px;
    font-weight: bold;
    color: whitesmoke;
    /* background: #90A187ff; */
    padding: 20px;
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* Navbar: list objects */
.navbar li {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

/* Navbar: list objects (link text) */
.navbar li a {
    text-decoration: none;
    color: #34553Aff;
    font-size: 18px;
    text-align: right;

}

@media (max-width: 768px) {
    #logo {
        width: 80px;
    }
}